<nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="https://phenomenal-stardust-835491.netlify.app/src/img/img.jpeg" class="img-fluid" alt="">
            <strong> SEA </strong>
        </a>
        <button type="button" class="btn btn-outline-secondary btn-lg" id="toastbtn"> Загрузка </button>
    </div>
</nav>